<!doctype html>
<html lang='en'>

<head>
	<meta charset='UTF-8'/>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Thomas Jefferson High School Student Government Website">
	<meta name="keywords" content="TJHSST, TJ SGA, TJHSST SGA, TJ Student Council, TJ Student Government, Thomas Jefferson High School Student Government">
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<meta name="theme-color" content="#ffffff">
	<meta NAME="geo.position" CONTENT="38.832037; -77.107725">
	<meta NAME="geo.placename" CONTENT="TJHSST">
	<meta NAME="geo.region" CONTENT="US">
	<link rel='stylesheet' type='text/css' href='css/index.css'>
	<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
	<title>Class Council — TJHSST SGA</title>
</head>

<body>
	<div class='navigation valign'>
		<div class='mobile-only valign mobile-nav'>
			<a href='#' class='menu' id='expand'><i class='fa fa-bars'></i></a>
			<a href='/' class='logo-link'><p class='title'>TJHSST SGA</p></a>
			<a href='#' class='menu'><i class='fa fa-gap'></i></a>
		</div>
		<div class='container valign seperate desktop-only'>
			<div class='valign'>
				<a href='/'><img class='logo' src='resources/logo.png'/></a>
				{{#if site.nav}}
					<nav>
						<ul>
							{{#each site.nav}}
								<li>
									{{#if (eq title "About Us")}}
										<a href='{{url}}' class='dark'>{{title}}</a>
									{{else}}
										<a href='{{url}}'>{{title}}</a>
									{{/if}}
									{{#if submenu}}
										<div class='submenu'>
											<ul>
												{{#each submenu}}
													{{#if (eq title "Class Council")}}
														<li><a href='{{url}}' class='dark'>{{title}}</a></li>
													{{else}}
														<li><a href='{{url}}'>{{title}}</a></li>
													{{/if}}
												{{/each}}
											</ul>
										</div>
									{{/if}}
								</li>
							{{/each}}
						</ul>
					</nav>
				{{/if}}
			</div>
			{{#if site.socials}}
			<div class='valign'>
				<div class='socials'>
					{{#each site.socials}}
						<a href='{{url}}'><i class='fa fa-{{title}}'></i></a>
					{{/each}}
				</div>
			</div>
			{{/if}}
		</div>
	</div>

	{{#if site.nav}}
		<div class='mobile-only mobile-navigation-links'>
			<ul>
				{{#each site.nav}}
					<li {{#if submenu}}id='expand-{{submenu-id}}'{{/if}}>
						{{#if (eq title "About Us")}}
							<a href='{{url}}' class='dark'>{{title}}</a>
						{{else}}
							<a href='{{url}}'>{{title}}</a>
						{{/if}}
					</li>
					{{#if submenu}}
						<div class='mobile-submenu' id='{{submenu-id}}'>
							<ul>
								{{#each submenu}}
									{{#if (eq title "Class Council")}}
										<li><a href='{{url}}' class='dark'>{{title}}</a></li>
									{{else}}
										<li><a href='{{url}}'>{{title}}</a></li>
									{{/if}}
								{{/each}}
							</ul>
						</div>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	{{/if}}
	
	<section class='hero-image'>
		<img src='resources/hero.png'></img>
		<div class='overlay'>
			<p class='title'>CLASS COUNCIL</p>
		</div>
	</section>

	{{#if site.council}}
	<div class='top-padding'>
		{{#each site.council}}
		<section class='content committee-list'>
			<div class='container'>
				<div class='row'>
					<div class='col committee'>
						<p class='title'>{{title}}</p>
						{{#each people}}
							<p>{{name}}{{#if role}}, <i>{{role}}</i>{{/if}}</p>
						{{/each}}
					</div>
				</div>
			</div>
		</section>
		{{#unless @last}}
			<hr/>
		{{/unless}}
		{{/each}}
	</div>
	{{/if}}
	{{#if site.footer}}
		<hr/>
		<section class='content banner'>
			<div class='container'>
				<div class='row'>
					<img class='banner-img' src='resources/footer-banner.png'/>
				</div>
			</div>
		</section>
		<hr/>
		<section class='content'>
			<div class='container'>
				<div class='row'>
					{{#each site.footer}}
						<div class='col footer-segment'>
						{{#if title}}
								<b>{{title}}</b>
								{{#each links}}
									<a href='{{url}}'>{{title}}</a>
								{{/each}}
						{{else}}
							<div class='socials'>
								{{#each ../site.socials}}
									<a href='{{url}}'><i class='fa fa-{{title}}'></i></a>
								{{/each}}
							</div>
							{{#each paragraphs}}
								<p>{{para}}</p>
							{{/each}}
							<img class='footer-logo' src='{{logo-image}}'/>
						{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
		</section>
	{{/if}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>